@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.header{ 
  position: fixed;
  z-index: 2;
// overflow: hidden;
  right: 10px;
  
  li {
    // list-style: none;
    align-items: center;
    
    padding: .05rem .05rem;
  }
  a {
    &::first-line {
      font: normal normal bold 16px/20px Montserrat;
    }
    &:hover {
     opacity: .8;
     color: #fff;
    }
    
    text-decoration: none;
    font: normal normal normal 36px/26px Grand Hotel;
    color: #FFFFFF;
    padding: 22px 32px;
    max-width: 400px;
  }
 

  .navbar {
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
    align-content:flex-start;
    font: #FFFFFF normal normal bold 26px/32px Montserrat; 
    opacity: .8;
    padding: .5rem .5rem;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

  }

  .subtopnav {
    top: 27px;
    left: 22px;
    
    font: normal normal normal 26px/26px Grand Hotel;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .hamburger {
      display: none;
  }

  .bar {
    -webkit-animation: linear;
    animation-name: slidein;
    animation: slidein 0.1s ease-in-out;
    animation-duration: 0.1s;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    margin-right:10px;
    background: rgb(0,255,177);
    background: linear-gradient(90deg, rgba(0,255,177,1) 35%, rgba(0,98,255,1) 100%);
   
  }

  .nav-menu {
    
      display: flex;
      justify-content: space-between;


  &.nav-item {
    display: flex;
    align-items: flex-start;
    margin-left: 1rem; //padding itens
  }
  }
  .nav-link{
      font-size: 1.6rem;
      font-weight: 400;
      color: #fff;
  }

  .nav-link:hover{
      color: #5e5d5e;
  }

  .nav-logo {
      font-size: 2.1rem;
      font-weight: 500;
      color: #5e5d5e;
  }
  @media only screen and (max-width: 768px) {
    a{
      color:#ffffff;
    }
    .span:hover{
      border-bottom: none;
    }
    .nav-menu {
          position: fixed;
          align-items: center;
          top: .1rem;
          right: 0%;
          height: 100%;
          width: 50%;
          flex-direction: column;
          align-items: center;
          transform: translateX(100%);
          background-color: #90a6fc;
          box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.5);
      & .nav-logo {
        left: -300px;
      }
    }
    .nav-menu.active {
      left: 0%;
    }
    .nav-item {
      margin: 1.5rem 0;
      margin-left:-100px;
      
    }
    .hamburger {
      display: block;
      cursor: pointer;
      left: 200px;
    }
}


  .nav-menu.active { // Our animation
    animation: slideinNavbar ease-in-out .3s;
    -webkit-animation: slideinNavbar ease-in-out .3s; 
  }

  // Rotare of hamburger
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }



}
@media only screen and (max-width: 556px) {
  .nav-menu {
    width: 70%;
  }
}

@keyframes slideinTogle {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(150%, 0, 0);
  }
}

@keyframes slideinNavbar {
  from {
    opacity: 0;
    -webkit-transform: translate3d(150%, 0, 0);
    transform: translate3d(150%, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

@media only screen and (max-width: 480px) {
  .nav-menu {
    position: fixed;
    top: .1rem;
    right: 0%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    background-color: #00e2bf;
    background: linear-gradient( rgba(0,98,255,1) 50%, rgba(0,255,177,1) 100%);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); 
  }
  li{
    width: 220px;
  } 
}