
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

@import "./variables.scss";
@import "./style_mobile.scss";
@import "./head.scss";
@import "./linkswap.sass";

body {
  background: $bg_full;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: .7rem;
}


/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px #87b0f8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $primary_color;
  border-radius: 0.7rem;

  &:hover {
    background: #6a82ad;
  }
}

p {
  font: $font-14;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

section {
  width: 100%;
  height: 1000px;
  float: left;
}

a {
  color: #FFFFFF; 
}

#lottie {
  width: 50%;
  margin-left: 300px;
  display: block;
  background-color: transparent;
}

#pageA, #pageB, #pageC {
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  background-size: cover;
  // width: 1200px;
}

.waterfall {
  width: 50rem;
  height: 1900px;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 700px;

  .waterfall_drops {
    position: absolute;
    border-radius: 20px;
    background: rgba(173, 184, 218, 0.7);
    animation: waterfall 2s linear infinite;

    &._1 {
      width: .6px;
      height: 40px;
      left: 40px;
      top: 20px;
      animation-delay: 1s;
      animation-duration: 5s;
    }

    &._2 {
      width: 0.5px;
      height: 60px;
      left: 100px;
      top: 10px;
      animation-delay: 1s;
      animation-duration: 3s;
    }

    &._3 {
      width: 0.6px;
      height: 70px;
      left: 105px;
      top: 40px;
      animation-delay: 3s;
      animation-duration: 4s;
    }

    &._4 {
      width: .5px;
      height: 50px;
      left: 40px;
      top: 120px;
      animation-delay: 3s;
      animation-duration: 3s;
    }

    &._5 {
      width: .3px;
      height: 30px;
      left: 60px;
      top: 20px;
      animation-delay: 1s;
      animation-duration: 4s;
    }

    &._6 {
      width: 4px;
      height: 15px;
      left: 130px;
      top: 100px;
      animation-delay: 5s;
    }

    &._7 {
      width: .7px;
      height: 15px;
      left: 60px;
      top: 100px;
      animation-duration: 1s;
    }

    &._8 {
      width: 1px;
      height: 4px;
      left: 67px;
      top: 300px;
      animation-delay: 3s;
    }

    &._9 {
      width: .8px;
      height: 25px;
      left: 65px;
      top: 230px;
      animation-delay: 1s;
    }

    &._10 {
      width: 1px;
      height: 42px;
      left: 60px;
      top: 330px;
      animation-delay: 8s;
    }
  }
}

@keyframes waterfall {
  100% {
    top: 80%;
  }
}
.container_left {
  margin-top: -500px;
  margin-left: 60px;
  float: left;
  
  p {
    font: normal normal normal 30px/37px Montserrat;
    letter-spacing: 0px;
    width: 330px;
    font-size: 18px;
    text-align: left;
  }

  .UX {
    // max-width: 200px;
    width: 116px;
    height: 220px;
    
    margin-top: 30px;
    text-align: left;
    font: $UX;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 1;
  }

  .btn {
    
    background: #90A6FC 0% 0% no-repeat padding-box;
    font: normal normal normal 18px/20px Montserrat;
    // padding: 8px 20px 10px 20px;
    color: #ffffff;
    border: transparent;
    cursor: pointer;
    border-radius: 31px;
    width: 210px;
    height: 55px;
    opacity: 1;
    transition-duration: 0.4s;
    

    &:hover {
      opacity: 0.2;
      color: #FFFFFF;
    }
  }

  .btn-or {
    text-align: left;
    text-decoration: underline;
    background-color: transparent;
    font: normal normal normal 16px/32px Montserrat;
    border: transparent;
    cursor: pointer;
    color: #FFFFFF;
    letter-spacing: 0px;
    margin-left: 30px;
    opacity: 1;
  }
}

.container {
  position: relative;
  left:650px;
  top:-405px;
  float: right;
  
  p {
    font: normal normal normal 30px/37px Montserrat;
    letter-spacing: 0px;
    width: 330px;
    font-size: 18px;
    text-align: left;
  }

  .UX {
    // max-width: 200px;
    width: 116px;
    height: 220px;
    margin-top: 30px;
    text-align: right;
    font: $UX;
    letter-spacing: 1px;
    color: #FFFFFF;
    opacity: 1;
  }

  .btn {
    
    background: #90A6FC 0% 0% no-repeat padding-box;
    font: normal normal normal 18px/20px Montserrat;
    // padding: 8px 20px 10px 20px;
    color: #ffffff;
    border: transparent;
    cursor: pointer;
    border-radius: 31px;
    width: 210px;
    height: 55px;
    opacity: 1;
    transition-duration: 0.4s;

    &:hover {
      opacity: 0.2;
      color: #FFFFFF;
    }
  }

  .btn-or {
    text-align: left;
    text-decoration: underline;
    background-color: transparent;
    font: normal normal normal 16px/32px Montserrat;
    border: transparent;
    cursor: pointer;
    color: #FFFFFF;
    letter-spacing: 0px;
    margin-left: 30px;
    opacity: 1;
  }
}
.Container_orcamento {
  // max-width: 300px;
  position: absolute;
  margin-top: -300px;
  margin-left: 225px;
  

  .btn_m1 {
  margin-top: 0.7em;
  
  width: 225.73px;
  height: 69.67px;
  left: 217.52px;
  top: 813.4px;
  /* *Button */
  background: #90A6FC;
  border-radius: 62.1165px;
  border-color: transparent;
  /* Orçamento */
  
  left: 15.27%;
  right: 15.27%;
  top: 28.23%;
  bottom: 28.23%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #FFFFFF;
  }
 .paragraph_1{
   
   left: 11.33%;
   right: 56.07%;
   top: 21.47%;
   bottom: 77.18%;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 44px;
   /* identical to box height */
   color: #FFFFFF;
 }
 .paragraph_1::first-line{
   /* Design Gráfico */
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 60px;
   line-height: 73px;
 }
 
}

.container_grid {

  margin-left: 30px;
  
// Carousel configuration parameters
$item-width: 50%; // Now we can use percentages!
$item-separation: 0px; // This now is set with Js
$viewer-distance: 500px;

.carousel {
  float: left;
  padding: 20px;
  // width: 100%;
  perspective: $viewer-distance;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;

  figure {
    margin: 0;
    width: $item-width;
    transform-style: preserve-3d;
    transition: transform 0.5s;

    img {
      width: 100%;
      padding: 0 $item-separation / 2;
      &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
        margin-right: 200px;
      }
    }
  }
// aumentar tamnaho da section_B

  nav {
    // top:200px;
    // margin-left:50px;
    
    
    button {
      
    
      // position: absolute;
      
      width: 154.6px;
      height: 67.07px;
      // left: 140.23px;
      cursor: pointer;
      color: transparent;
      letter-spacing: 1px;
      padding: 40px 40px;
      border: none;
    }
    .prev{
      
      background-image: url('../img/carousel/arrow_left.svg');
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
    }
    .next{
      top: 300px;
      background-image: url('../img/carousel/arrow_right.svg');
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
    }
  }
}
    .flexbox {
      width: 600px;
      float:left;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      box-sizing: border-box;
      height: 700px;
    
    
    .item {
      box-sizing: border-box;
      width: 50%;
      margin-bottom: 39px;
      padding: 0px 20px;
    }
    
    .content {

      text-align: center;
      box-sizing: border-box;
      height: 100%;
      padding: 10px;
    }
    
    .p-description-1 {
      text-align: center;
      font-family: Montserrat;
      color: #FFFFFF;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5;
    }
    .p-description {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      color: #FFFFFF;
      font-size: 22px;
      max-width: 250px;
      line-height: 1.5;
    }
  }
  .flexbox_right{
    
    float:right;
    position: relative;
    a {
      font-family: Montserrat;
      color: #FFFFFF;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5;
      text-decoration: none;
    }
    // @import "./linkswap.sass";
  }
}

/* end grid */

.megafooter {

  margin-top: 750px;
  margin-left: auto;
	margin-right: auto;
  font: $font-14;
  color: #ffffff;
  max-width: 50rem;
  text-align: center;

  .foot_p {
      font: $font-14;
      font-style: normal;
      font-weight: bold;

    }
    .p-chill {
      left: 0%;
      right: 78.17%;
      top: 68.57%;
      bottom: 0%;
      font-family: Montserrat;
      color: #FFFFFF;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5;
    }
}

/* footer :) */

#footer {
  font: normal normal normal 12px/32px Montserrat;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  > div {
    margin-top: 90px;
    width: 100px;
    height: 20px;
  }

   a{
     display: inline;
    color:#FFFFFF;
  }
}
// teste carousel

// Carousel configuration parameters
$item-width: 90%; // Now we can use percentages
$item-separation: 30px; 
$viewer-distance: 5000px;

.carousel {
  float: left;
  display: flex;
  position: relative;    
  flex-direction: row;
  // margin-left: 300px;
  justify-content: space-between;
  // padding: 100px;
  width: auto;
  perspective: $viewer-distance; //muito importante
  overflow: hidden;
  // align-items: center;

  figure {
    margin: 0;
    width: $item-width;
    transform-style: preserve-3d;
    transition: transform 0.5s;

    img {
      width: 100%;
      padding: 0 $item-separation / 2;
      &:not(:first-of-type) {
        position: absolute;
        // margin-left: -100px;
        // margin-right: 200px;
        left: 0;
        top: 0;
      }
    }
  }

  nav {
    position:absolute;
    display: flex;
    top: 400px;
    

    button {
      // margin-top:400px;
      width: 43px;
      height: 43px;
      cursor: pointer;
      color: transparent;
      letter-spacing: 1px;
      padding: 40px 40px;
      border: none;
    }
    .prev{
      background-image: url('../img/carousel/arrow_left.svg');
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
    }
    .next{
      background-image: url('../img/carousel/arrow_right.svg');
      background-repeat: no-repeat;
      background-color: transparent;
      border: none;
    }
  }
}

// Team grid
.tabs {
  position: absolute;
  left: 600px;
  float: right;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
// font
  font-family: Montserrat;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  width: 80%;
  min-height: 100vh;
  
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.tab-btn {
  background-color: transparent;
  border: none;
  color: $primary_color;
  cursor: pointer;
  padding: 5px 0;
  margin: 5px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  outline: none;
  width: 15%;
}

.tab-btn-active {
  border-bottom: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: bold;
}

/* tabs content */

.content {
  width: 100%;
  position: relative;
  top: 2rem; 
}

.tab-content {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 1rem;
  display: none;
  img {
    width: 350px;
  }
  button{
    background: transparent url('../img/send.svg');
    height: 45px;
    width: 50px;
    left: 450.3497314453125px;
    top: 421.36126708984375px;
    top: 20px;
    cursor: pointer;
    border:none;
  }
  input{
    margin: 0 auto;
    height: 55.044219970703125px;
    width: 430.0877380371094px;
    background: #C4C4C4;
    border-radius: 10px;
    border:none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    input:active{
      border:none;
    }
  }
  input::placeholder { font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
  }
}

.tab-content-active {
  display: block;
}



// Equipe
.grid_group {
  display: grid;
  float: right;
  grid-template-columns: repeat(2, 191px);
  grid-template-rows: repeat(2, 145px);
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  height: 100vh;
  position: absolute;
  top: 87px;
  
  img{width:150px;}

  .socials img{
    width: 76.5px;
    height: 80px;
  }
}
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 1 / 2 / 2 / 3; }
  .div4 { grid-area: 2 / 2 / 3 / 3; }
 