
/* mobile */
@media screen and (min-width: 1280px) {

    #footer{
      line-height: 1.5;
      position:relative;
      top:5px;
    }

    .megafooter{
      max-width: 40%;
      top:300px;
    }
  }
@media screen and (max-width: 980px) {
    .container {
      width: 100%;
      margin-left: 300px;
    }
    #lottie {
      width: 100%;
      margin-left: 20px;
    }
    .waterfall {
      width: 100%;
      margin-left: -400px;
    } 
    
  }

  @media screen and (max-width: 780px) {
    .container {
      width: 50%;
      margin-left: 500px;
    }

    .waterfall {
      width: 100%;
      margin-left: -450px;
    }
  }

  @media screen and (max-width: 680px) {
    .container {
      width: 100%;
      margin-left: 100px;
    }
    .waterfall {
      width: 100%;
      margin-left: -500px;
    }
  }
  


  @media screen and (max-width: 580px) {
    .container {
      width: 100%;
      margin-left: 50px;
    }
  }

  @media screen and (max-width: 480px) {
    .container {
      width: 100%;
      margin-left: 10px;
    }
    .waterfall {
      width: 100%;
      margin-left: -580px;
    }
  }

  @media only screen and (max-width: 601px) {

   
    #footer{
      
      margin-top: 540px; 
    }
    .megafooter{
      position: absolute;
      margin-top: 380px;
    }
  }