
/*  
    Vars 
*/

$bg_full: url('../img/BGFull_.svg') center center no-repeat;


$primary_color: #6a82ad;

$UX: normal normal normal 90px/110px Fredericka the Great;
$font-14: normal normal normal 14px/14px Montserrat;
$font-32: normal normal normal 32px/32px Montserrat;
