@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.topnav {
	top: 73px;
	text-align: left;
	font: normal normal bold 26px/32px Montserrat;
	color: #FFFFFF;
	opacity: 1;
	background-color: transparent;
	color: #FFFFFF;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.topnav a {
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding: 23px 32px;
	text-decoration: none;
	font-size: 16px;
}

.subtopnav {
	top: 27px;
	left: 22px;
	width: 115px;
	height: 40px;
	overflow-wrap: normal;
	overflow-wrap: break-word;
	font: normal normal normal 26px/26px Grand Hotel;
	letter-spacing: 0px;
	color: #FFFFFF;
}

.topnav a:hover {
	color: #FFFFFF;
	background-color: transparent;
}

.topnav a.active {
	background-color: transparent;
}

.topnav-right {
	float: right;
}

@media screen and (max-width: 980px) {
	.topnav{
	  width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
	  margin-left: 50px;
	}
  }